body {
  font-family: 'PT Serif', sans-serif;
  padding: 1em;
  max-width: 45em;
  margin: 0 auto;
}

a {
  color: black;
}

main {
  max-width: 38em;
  margin: 0 auto 4em;
}

p {
  margin: 0 0 2em 0;
  font-size: 1.15rem;
  line-height: 1.7;
}
