.post-title {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  font-size: 1rem;
  line-height: 1.45;
}

.post-title:before {
  content: "•";
  color: deepskyblue;
}

.post-date {
  color: rgba(0,0,0,0.5);
  display: block;
  font-size: 0.9rem;
  font-weight: normal;
  margin: 0.2em 0 0 2em;
}

.post-title > a {
  text-decoration: none;
}

.post-item {
  margin: 0 0 1rem 0;
  max-width: 42.5rem;
}